.dataVECharts{
  height: 100%;
  width: 100%;
  overflow: auto;
  background: url('@/assets/img/bigScreen/bg_body.jpg') no-repeat;
  background-size: 100% 100%;
  .viewport{
    height: inherit;
    min-width: 12.8rem;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .header{
      height: .5625rem;
      background: url('@/assets/img/bigScreen/header.png') no-repeat;
      background-size: 100% 100%;
      color:#FFF;
      text-align: center;
      line-height: .4375rem;
      font-size: .225rem;
    }
    .main{
      display: flex;
      flex: 1;
      .column{
        padding: 0 .0625rem 0 .0625rem;
        flex: 3;
        width: 0;
        &:nth-child(2){
          flex: 4;
        }
        .overview{
          height: 1.125rem;
          color:#FFF;
          >ul{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-top: .125rem;
            li{
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-self: center;
              >div:nth-child(1){
                font-size: .3rem;
              }
              >div:nth-child(2){
                font-size: .175rem;
                color: #4c9bfd;
                position: relative;
                &::before{
                  content: '';
                  display: inline-block;
                  height: .2rem;
                  width: .1rem;
                  background-color: #006cff;
                  border-radius: .0625rem;
                  position: absolute;
                  left: -0.1625rem;
                  top: .0375rem;
                }
              }
              &:nth-child(2) >div:nth-child(2)::before{
                background-color: #6acca3;
              }
              &:nth-child(3) >div:nth-child(2)::before{
                background-color: #6acca3;
              }
              &:nth-child(4) >div:nth-child(2)::before{
                background-color: #ed3f35;
              }
            }
          }
        }
        .monitor{
          height: 3.6875rem;
          color:#FFF;
          margin-top: .125rem;
          display: flex;
          flex-direction: column;
          .tbs{
            height: .5rem;
            display: flex;
            align-items: center;
            >div{
              font-size: .175rem;
              cursor: pointer;
              padding: 0 .25rem;
              &:nth-child(1){
                position: relative;
                &::after{
                  content: '';
                  display: inline-block;
                  position: absolute;
                  top: .05rem;
                  right: 0;
                  height: .25rem;
                  width: .025rem;
                  background-color: #FFF;
                }
              }
            }
            .active{
              color: #006cff;
            }
          }
          .content{
            flex: auto;
            display: flex;
            flex-direction: column;
            .hed{
              height: .3125rem;
              display: flex;
              align-items: center;
              background-color: rgba(255, 255, 255, .1);
              padding-left: .25rem;
              color: #61a8ff;
              >.col{
                font-size: .1625rem;
                font-weight: 550;
                flex:3;
                &:nth-child(2){
                  flex: 4;
                }
              }
            }
            .marquee-view{
              height: 0;
              flex: auto;
              overflow: hidden;
              .marquee{
                animation: move 15s linear infinite;
                &:hover{
                  animation-play-state: paused;
                }
              }
              .row{
                height: .3125rem;
                display: flex;
                align-items: center;
                padding-left: .25rem;
                color: #a5e6f3;
                &:hover{
                  background-color: rgba(255, 255, 255, 0.1);
                  color: #68d8fe;
                }
                >.col{
                  font-size: .1625rem;
                  flex:3;
                  &:nth-child(2){
                    flex: 4;
                  }
                }
              }
            }
          }
        }
        .nation, .point{
          height: 2.75rem;
          margin-top: .125rem;
          display: flex;
          flex-direction: column;
          padding: 0 .25rem .25rem .25rem;
          color: #FFF;
          .hed{
            height: .5rem;
            font-size: .175rem;
            line-height: .5rem;
          }
          .content{
            flex: auto;
            display: flex;
            >div{
              &:nth-child(1){
                flex: auto;
                // background-color: pink;
              }
              &:nth-child(2){
                width: 1.5rem;
                background-color: rgba(255, 255, 255, .08);
                border-top-right-radius:.375rem;
                border-bottom-left-radius:.375rem;
                display: flex;
                flex-direction: column;
                >div{
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding-left: .25rem;
                  >p{
                    margin: 0;
                    &:nth-child(1){
                      font-size: .225rem;
                    }
                    &:nth-child(2){
                      font-size: .15rem;
                      color: #4c9bfd;
                      &::before{
                        content: '';
                        display: inline-block;
                        width: .05rem;
                        height: .125rem;
                        border-radius: .025rem;
                        background-color: #006cff;
                        margin-right: .0375rem;
                      }
                    }
                  }
                  &:nth-child(2) >p:nth-child(2)::before{
                    background-color: #e1ff00;
                  }
                }
              }
            }
          }
        }
        .mapStatistics{
          height: 4.9375rem;
          display: flex;
          flex-direction: column;
          .mapHed{
            height: .5rem;
            line-height: .5rem;
            color: #FFF;
          }
          .eChartsMap{
            flex: auto;
            background-color: rgba(255, 255, 255, .05);
          }
        }
        .orderQuantity{
          height: 1.1875rem;
          display: flex;
          flex-direction: column;
          padding-left: .2rem;
          padding-top: .1rem;
          >ul{
            margin: 0;
            padding: 0;
            display: flex;
            list-style-type: none;
            >li{
              width: .75rem;
              height: .2rem;
              color: #0547a4;
              font-size: .175rem;
              line-height: .2rem;
              text-align: center;
              border-left: .025rem solid #68d8fe;
              cursor: pointer;
              &:nth-child(1){
                border: 0;
                width: .625rem;
                text-align: left;
              }
            }
          }
          >div{
            flex: auto;
            display: flex;
            color: #fFF;
            align-items: center;
            >div{
              flex: 1;
              >div:nth-child(1){
                font-size: .225rem;
                font-weight: 550;
              }
              >div:nth-child(2){
                font-size: .175rem;
                color: #0547a4;
                &::before{
                  content: '';
                  display: inline-block;
                  height: .175rem;
                  width: .075rem;
                  border-radius: .0375rem;
                  background-color: #FF8C00;
                  transform: translateY(.025rem);
                  margin-right: .05rem;
                }
              }
              &:nth-child(2)>div:nth-child(2)::before{
                background-color: #FFFF00;
              }
            }
          }
          .orderAction{
            color: #FFF;
          }
        }
        .sales{
          height: 2rem;
          margin-top: .125rem;
          padding: .1rem .2rem;
          display: flex;
          flex-direction: column;
          >.hed{
            height: .25rem;
            display: flex;
            >div{
              color: #FFF;
              font-size: 0.175rem;
              padding-right: .125rem;
              position: relative;
              &::after{
                content: '';
                display: inline-block;
                height: .175rem;
                width: .025rem;
                background-color: #68d8fe;
                position: absolute;
                right: 0;
                top: .05rem;
              }
            }
            >ul{
              list-style-type: none;
              display: flex;
              padding: 0;
              margin: 0;
              >li{
                font-size: 0.175rem;
                color: #0547a4;
                width: .25rem;
                margin: 0 .125rem;
                text-align: center;
                border-radius: .025rem;
                cursor: pointer;
                transition: all 0.5s linear;
              }
            }
            .salesAction{
              color: #FFF;
              background-color: #4c9bfd;
            }
          }
          >#salesCharts{
            flex: auto;
          }
        }
        .channel-schedule{
          height: 1.9375rem;
          margin-top: .125rem;
          display: flex;
          >div{
            flex: 1;
            &:nth-child(1){
              margin-right: .2rem;
            }
          }
          >.channel,>.schedule{
            display: flex;
            flex-direction: column;
            padding: .1rem  0 0 .2rem;
            position: relative;
            >.hed{
              height: .25rem;
              color: #FFF;
              font-size: .175rem;
            }
            >div:nth-of-type(2){
              flex: 1;
            }
            .schedule-value{
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1.25rem;
              color: #FFF;
              >div:nth-of-type(1){
                height: .625rem;
                line-height: .8125rem;
                text-align: center;
                font-size: .3rem;
              }
              >div{
                &:nth-of-type(2){
                  display: flex;
                  >div{
                    flex: 1;
                    text-align: center;
                    font-size: .2rem;
                  }
                }
                &:nth-of-type(3){
                  padding-left: .2rem;
                  display: flex;
                  >div{
                    flex: 1;
                    color: #006cff;
                    font-size: .15rem;
                    &::before{
                      content: '';
                      display: inline-block;
                      height: .175rem;
                      width: .075rem;
                      border-radius: .0375rem;
                      background-color: #00ff00;
                      transform: translateY(.0375rem);
                      margin-right: .05rem;
                    }
                    &:nth-child(2)::before{
                      margin-left: .0625rem;
                      background-color: #ff0000;
                    }
                  }
                }
              }
            }
          }
        }
        .hotList{
          height: 2.3rem;
          margin-top: .125rem;
          display: flex;
          padding: .125rem .2rem;
          .nationHot{
            width: 1.5rem;
            display: flex;
            flex-direction: column;
            .nationHotHed{
              color: #FFF;
              font-size: 0.175rem;
            }
            .nationContent{
              flex: 1;
              >div{
                height: 45px;
                line-height: 45px;
                color: #006cff;
                font-size: .15rem;
                >span{
                  margin-right: 10px;
                  transform: translateY(4px);
                  >svg{
                    font-size: 24px;
                  }
                }
                &:nth-child(1)>span{
                  color: #FFA500;
                }
                &:nth-child(2)>span{
                  color: #4c9bfd;
                }
                &:nth-child(3)>span{
                  color: #68d8fe;
                }
              }
            }
          }
          .province{
            flex: 1;
            display: flex;
            flex-direction: column;
            .provinceHed{
              display: flex;
              justify-content: space-between;
              color: #FFF;
              >div{
                font-size: .175rem;
                &:nth-child(2){
                  font-size: 12px;
                  color: #006cff;
                }
              }
            }
            .provinceContent{
              flex: 1;
              display: flex;
              >div{
                flex: 1;
              }
              .left{
                >div{
                  display: flex;
                  justify-content: space-between;
                  color: #006cff;
                  align-items: center;
                  padding: 0 .075rem;
                  height: .3375rem;
                  cursor: pointer;
                  transition: all 0.3s linear;
                  >div{
                    font-size: .15rem;
                  }
                }
                .hotAtion{
                  background-color: rgba(255, 255, 255, 0.1);
                }
              }
              .right{
                background-color: rgba(255, 255, 255, 0.1);
                >div{
                  height: .275rem;
                  padding: 0 .0625rem;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  >div{
                    font-size: .15rem;
                    color: #006cff;
                  }
                }
              }

            }
          }
        }
      }
      .panel{
        border: .0375rem solid transparent;
        border-image-source: url('@/assets/img/bigScreen/panel.png');
        border-image-slice: 60;
        border-image-width:.625rem;
      }
      
    }

  }
}

@keyframes move{
  0%{}
  100%{
    transform: translateY(-50%);
  }
}