.dataVECharts{
  height: 100%;
  width: 100%;
  overflow: auto;
  background: url('@/assets/img/bigScreen/bg_body.jpg') no-repeat;
  background-size: 100% 100%;
  .viewport{
    height: inherit;
    min-width: 1024px;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .header{
      height: 45px;
      background: url('@/assets/img/bigScreen/header.png') no-repeat;
      background-size: 100% 100%;
      color:#FFF;
      text-align: center;
      line-height: 35px;
      font-size: 18px;
    }
    .main{
      display: flex;
      flex: 1;
      .column{
        padding: 0 .1rem;
        flex: 3;
        &:nth-child(2){
          flex: 4;
        }
        .overview{
          height: 90px;
          color:#FFF;
          >ul{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            li{
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-self: center;
              >div:nth-child(1){
                font-size: 24px;
              }
              >div:nth-child(2){
                font-size: 14px;
                color: #4c9bfd;
                position: relative;
                &::before{
                  content: '';
                  display: inline-block;
                  height: 16px;
                  width: 8px;
                  background-color: #006cff;
                  border-radius: 5px;
                  position: absolute;
                  left: -13px;
                  top: 3px;
                }
              }
              &:nth-child(2) >div:nth-child(2)::before{
                background-color: #6acca3;
              }
              &:nth-child(3) >div:nth-child(2)::before{
                background-color: #6acca3;
              }
              &:nth-child(4) >div:nth-child(2)::before{
                background-color: #ed3f35;
              }
            }
          }
        }
        .monitor{
          height: 270px;
          color:#FFF;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          .tbs{
            height: 40px;
            display: flex;
            align-items: center;
            >div{
              font-size: 14px;
              cursor: pointer;
              padding: 0 20px;
              &:nth-child(1){
                position: relative;
                &::after{
                  content: '';
                  display: inline-block;
                  position: absolute;
                  top: 4px;
                  right: 0;
                  height: 20px;
                  width: 2px;
                  background-color: #FFF;
                }
              }
            }
            .active{
              color: #006cff;
            }
          }
          .content{
            flex: auto;
            display: flex;
            flex-direction: column;
            .hed{
              height: 25px;
              display: flex;
              align-items: center;
              background-color: rgba(255, 255, 255, .1);
              padding-left: 20px;
              color: #61a8ff;
              >.col{
                font-size: 13px;
                font-weight: 550;
                flex:3;
                &:nth-child(2){
                  flex: 4;
                }
              }
            }
            .marquee-view{
              height: 0;
              flex: auto;
              overflow: hidden;
              .marquee{
                animation: move 15s linear infinite;
                &:hover{
                  animation-play-state: paused;
                }
              }
              .row{
                height: 25px;
                display: flex;
                align-items: center;
                padding-left: 20px;
                color: #a5e6f3;
                &:hover{
                  background-color: rgba(255, 255, 255, 0.1);
                  color: #68d8fe;
                }
                >.col{
                  font-size: 13px;
                  flex:3;
                  &:nth-child(2){
                    flex: 4;
                  }
                }
              }
            }
          }
        }
        .nation, .point{
          height: 220px;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          padding: 0 20px 20px 20px;
          color: #FFF;
          .hed{
            height: 40px;
            font-size: 14px;
            line-height: 40px;
          }
          .content{
            flex: auto;
            display: flex;
            >div{
              &:nth-child(1){
                flex: auto;
                // background-color: pink;
              }
              &:nth-child(2){
                width: 120px;
                background-color: rgba(255, 255, 255, .08);
                border-top-right-radius:30px;
                border-bottom-left-radius:30px;
                display: flex;
                flex-direction: column;
                >div{
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding-left: 20px;
                  >p{
                    margin: 0;
                    &:nth-child(1){
                      font-size: 18px;
                    }
                    &:nth-child(2){
                      font-size: 12px;
                      color: #4c9bfd;
                      &::before{
                        content: '';
                        display: inline-block;
                        width: 4px;
                        height: 10px;
                        border-radius: 2px;
                        background-color: #006cff;
                        margin-right: 3px;
                      }
                    }
                  }
                  &:nth-child(2) >p:nth-child(2)::before{
                    background-color: #e1ff00;
                  }
                }
              }
            }
          }
        }
        .mapStatistics{
          height: 4.75rem;
          display: flex;
          flex-direction: column;
          .mapHed{
            height: 40px;
            line-height: 40px;
            color: #FFF;
          }
          .eChartsMap{
            flex: auto;
            background-color: rgba(255, 255, 255, .08);
          }
        }
        
      }
      .panel{
        border: 3px solid transparent;
        border-image-source: url('@/assets/img/bigScreen/panel.png');
        border-image-slice: 60;
        border-image-width:50px;
      }
      
    }

  }
}

@keyframes move{
  0%{}
  100%{
    transform: translateY(-50%);
  }
}